<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='images/style.css') }}" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="img"></div>
    <div class="center">
      <div class="title">Colorize Black and White Photos Automatically Online</div>
      <div class="sub_title">By using AI image coloring algorithms trained on millions of black and white photos and colorize images, our image colorizer can add natural and realistic colors to your old photos</div>
      <div class="btns"><a href=upload>
        <button>Upload Image</button></a>
      </div>
    </div>
  </body>
</html>
